<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>PersonalWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
  	<taglib>
  		<taglib-uri>http://personal.com/jsp/jstl/core</taglib-uri>
  		<taglib-location>c.tld</taglib-location>
  	</taglib>
  </jsp-config>
  <servlet>
  	<servlet-name>ServletContacto</servlet-name>
  	<servlet-class>org.edwintumax.servlet.ServletContacto</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletContacto</servlet-name>
  	<url-pattern>/ServletContacto.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServletListaContacto</servlet-name>
  	<servlet-class>org.edwintumax.servlet.ServletListaContacto</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletListaContacto</servlet-name>
  	<url-pattern>/ServletListaContacto.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServletEliminarContacto</servlet-name>
  	<servlet-class>org.edwintumax.servlet.ServletEliminarContacto</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ServletEliminarContacto</servlet-name>
  <url-pattern>/ServletEliminarContacto.do</url-pattern>
  </servlet-mapping>
</web-app>